<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/header')-%>
</head>
<body>
<div class="container">
	<%- include('partials/logo')-%>
	<%- include('partials/navmenu')-%>
	<div class="page-content">
		<h2>404 - Page Not Found</h2>
		<p>Looks like the page you requested does not exist :(</p>
	</div>
	<%- include('partials/footer')-%>
</div>
</body>
</html>