<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/header')-%>
</head>
<body>
<div class="container">
	<%- include('partials/logo')-%>
	<%- include('partials/navmenu')-%>
		<p>Homepage.</p>
	<%- include('partials/footer')-%>
</div>
</body>
</html>